@charset "UTF-8";
@function dd($num){
	@return $num/20;
}
html,body{
	width:100%;
	margin-bottom:dd(32rem);
	position:relative;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
#search{
	width:100%;
	height:dd(39rem);
	background-color:#fff;
	.left{
		font-family:"iconfont";
		float:left;
		width:15%;
		height:dd(39rem);
		line-height:dd(39rem);
		text-align:center;
		color:#b0b0b0;
		text-decoration:none;
	}
	.inp{
		float:left;
		width:70%;
		height:dd(25rem);
		line-height:dd(20rem);
		margin-top:dd(7rem);
		background-color:#eee;
		input{
			border:none;
			outline:none;
			height:dd(13rem);
			font-size:dd(12rem);
			background-color:#eee;
			color:#9e9e9e;
		}
		span{
			font-family:"iconfont";
			font-size:dd(13rem);
			margin-left:dd(7rem);
			color:#9e9e9e;
		}
	}
	.right{
		font-family:"iconfont";
		float:right;
		width:15%;
		height:dd(39rem);
		line-height:dd(39rem);
		text-align:center;
		color:#b0b0b0;
		text-decoration:none;
	}
}
#pic{
	width:100%;
	height:dd(182rem);
	img{
		width:100%;
		position:absolute;
		left:0;
		top:dd(39rem);
	}
	.dots{
		position:absolute;
		left:0;
		top:dd(210rem);
		div{
			width:dd(6rem);
			height:dd(6rem);
			border-radius:50%;
			background-color:white;
			float:left;
			margin-left:dd(10rem);
		}
	}
}
#hot{
	width:100%;
	height:dd(100rem);
	div{
		float:left;
	}
	.fg{
		width:2%;
		height:dd(100rem);
		div{
			width:25%;
			height:dd(70rem);
			margin-top:dd(25rem);
			background-color:#eee;
		}
	}
	.left,.center,.right{
		width:32%;
		height:dd(100rem);
		p{
			font-size:dd(12rem);
			margin-top:dd(6rem);
			text-align:center;
		}
		.top{
			color:#ff6801;
		}
		img{
			width:50%;
			margin-left:25%;
			margin-top:dd(11rem);
		}
	}
}
.ge{
	width:100%;
	height:dd(10rem);
	background-color:#f6f6f6;
}
#time{
	.left{
		float:left;
		font-size:dd(13rem);
		height:dd(43rem);
		line-height:dd(43rem);
		margin-left:dd(13rem);
		color:#000;
		time{
			span{
				color:#fff;
				background-color:black;
				font-size:dd(11rem);
				height:dd(13rem);
				width:dd(13rem);
				padding:dd(2rem);
			}
		}
	}
	.right{
		float:right;
		font-size:dd(13rem);
		height:dd(43rem);
		line-height:dd(43rem);
		margin-right:dd(13rem);
		color:#c1c1c1;
		span{
			font-family:"iconfont";
		}
	}
	.bottom{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		clear:both;
		div{
			margin-left:2%;
			width:23%;
			color:#666;
			img{
				width:80%;
				margin-left:10%;
			}
		}
		p{
			width:100%;
			height:dd(20rem);
			line-height:dd(20rem);
			font-size:dd(11rem);
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
		}
		.next{
			color:#ff2255;
			span{
				color:#888;
				text-decoration:line-through;
			}
		}
	}	
}
#discount{
	.top{
		width:98%;
		height:dd(35rem);
		border-bottom:dd(1rem) solid #f6f6f6;
		line-height:dd(35rem);
		font-size:dd(12rem);
		padding-left:2%;
	}
	.center{
		width:100%;
		height:dd(145rem);
		border-bottom:dd(1rem) solid #f6f6f6;
		.left{
			width:49.5%;
			height:100%;
			float:left;
			border-right:dd(1rem) solid #f6f6f6;
			img{
				width:55%;
				margin-left:25%;
				/*margin-top:dd(10rem);*/
			}
			p{
				font-size:dd(11rem);
				font-weight:300;
				margin-top:dd(27rem);
				text-align:center;
			}
			h5{
				font-size:dd(11rem);
				font-weight:300;
				margin-top:dd(5rem);
				text-align:center;
				color:#ff5f7e;
			}
		}
		.right{
			float:right;
			width:50%;
			.shang{
				width:100%;
				height:dd(72rem);
				display:block;
				p{
					font-size:dd(11rem);
					font-weight:300;
					margin-top:dd(24rem);
					margin-left:dd(5rem);
					float:left;
					color:#000;
				}
				h5{
					font-size:dd(11rem);
					font-weight:300;
					clear:both;
					float:left;
					color:#ff5f7e;
					margin-top:dd(5rem);
					margin-left:dd(5rem);
				}
				img{
					width:43%;
					margin-left:1rem;
				}	
			}
			.xia{
				width:100%;
				border-top:dd(1rem) solid #f6f6f6;
				height:dd(72rem);
				p{
					font-size:dd(11rem);
					font-weight:300;
					margin-top:dd(24rem);
					margin-left:dd(5rem);
					float:left;
				}
				h5{
					font-size:dd(11rem);
					font-weight:300;
					clear:both;
					float:left;
					color:#ff5f7e;
					margin-top:dd(5rem);
					margin-left:dd(5rem);
				}
				img{
					width:40%;
					margin-left:1.4rem;
				}	
			}			
		}
	}
	.bottom{
		width:100%;
		clear:both;
		div{
			width:33%;
			float:left;
			border-right:dd(1rem) solid #f6f6f6;
			img{
				width:50%;
				margin-left:30%;
				margin-top:dd(10rem);
			}
			p{
				font-size:dd(11rem);
				font-weight:300;
				margin-top:dd(20rem);
				text-align:center;
			}
			h5{
				font-size:dd(11rem);
				font-weight:300;
				margin-top:dd(8rem);
				text-align:center;
				color:#ff5f7e;
			}
		}
		.three{
			border:none;
		}
	}
}
#nav{
	width:100%;
	height:dd(72rem);
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	div{
		background-color:#f6f6f6;
		position:relative;
		width:33.3%;
		img{
			width:85%;
			position:absolute;
			bottom:0;
			right:0;
		}
	}	
}
#hotmarket{
	width:100%;
	margin-top:dd(15rem);
	.title{
		width:100%;
		font-size:dd(15rem);
		margin-bottom:dd(8rem);
		text-align: center;
		color:#333;
	}
	.content{
		width:100%;
		div{
			width:25%;
			height:dd(80rem);
			float:left;
			p{
				font-size:dd(10rem);
				text-align:center;
			}
			img{
				width:70%;
				margin:0 dd(10rem);		
			}
		}
	}
}
#like{
	width:100%;
	clear:both;
	background-color:#f6f6f6;
	.title{
		width:100%;
		height:dd(50rem);
		line-height:dd(50rem);
		font-size:dd(15rem);
		text-align: center;
		color:#333;
	}
	.row{
		width:100%;
		height:dd(270rem);
		.left{
			background-color:#fff;
			width:47%;
			margin: .3rem 1% dd(5rem) 2%;
			float:left;
			border-radius:dd(2rem);
			img{
				width:100%;
				border-radius:dd(2rem);
			}
			div{
				height:dd(35rem);
				margin-left:dd(5rem);
				span{
					background-color:#EFF3F6;
					font-size:dd(10rem);
					float:left;
					margin-left:dd(3rem);
					margin-bottom:dd(3rem);
					color: #5A6F7A;
				}
				.col{
					background-color:#FF743C;
					color:#fff;
				}
			}
			p{
				font-size:dd(14rem);
				margin:0 dd(6rem) dd(2rem);
				font-weight:bolder;
				color:#333;
				strong{
					background:url(https://s10.mogucdn.com/mlcdn/c45406/171106_4e2g2ib7a4gl05hd24k379g74fhlf_52x28.png) no-repeat 100% 100%;
					color:#fff;
					width:1rem;
					height:.6rem;
					font-weight:normal;
					font-size:dd(12rem);
					display:block;
					float:left;
				}
				span{
					float:right;
					color:#C5C5C5;
					font-size:dd(12rem);
					font-weight:normal;
					i{
						font-family:"iconfont";
						color:#C5C5C5;
						font-style:normal;
					}
				}
			}
		}
		.right{
			background-color:#fff;
			width:47%;
			margin: .3rem 1% dd(5rem) 2%;
			float:right;
			border-radius:dd(2rem);
			img{
				width:100%;
				border-radius:dd(2rem);
			}
			div{
				height:dd(35rem);
				margin-left:dd(5rem);
				span{
					background-color: #EFF3F6;
					font-size:dd(10rem);
					float:left;
					margin-left:dd(3rem);
					margin-bottom:dd(3rem);
					color: #5A6F7A;
				}
				.col{
					background-color:#FF743C;
					color:#fff;
				}
			}
			p{
				font-size:dd(14rem);
				margin:0 dd(10rem) dd(2rem);
				color:#333;
				font-weight:bolder;
				strong{
					background:url(https://s10.mogucdn.com/mlcdn/c45406/171106_4e2g2ib7a4gl05hd24k379g74fhlf_52x28.png) no-repeat 100% 100%;
					color:#fff;
					width:1rem;
					height:.6rem;
					font-weight:normal;
					font-size:dd(12rem);
					display:block;
					float:left;
				}
				span{
					font-size:dd(12rem);
					font-weight:normal;
					float:right;
					color:#C5C5C5;
					i{
						font-family:"iconfont";
						color:#C5C5C5;
						font-style:normal;
					}
				}
			}
		}
	}
}
#footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:dd(40rem);
	background-color:#fff;
	border-top:dd(1rem) solid #f6f6f6;
	a{
		width:25%;
		float:left;
		color:#666;
		text-decoration:none;
		text-align:center;
		h1{
			font-family: "iconfont";
			font-weight:300;
			font-size:dd(20rem);
			margin:dd(5rem) auto 0 ;
		}
		p{
			font-size:dd(10rem);
		}	
	}
}
#zzsearch{
	display:none;
	width:100%;
	height:100%;
	background-color:#fff;
	color:#999;
	position:fixed;
	left:0;
	top:0;
	color:#666;
	.top{
		width:100%;
		height:1.8rem;
		border-bottom:dd(1rem) solid #eee;
		.left{
			width:5%;
			line-height:1.8rem;
			font-size:1frem;
			padding: 0 0.3rem;
			float:left;
			font-family:"iconfont";
		}
		.center{
			width:74%;
			height:1.2rem;
			border:dd(1rem) solid #aaa;
			margin:.3rem;
			border-radius:.3rem;
			float:left;
			input{
				width:90%;
				height:0.8rem;
				border:none;
				outline:none;
				font-size:.7rem;
				margin-left:.5rem;	
			}	
		}
		.right{
			width:12%;
			text-align:center;
			float:right;	
			line-height:1.8rem;
			font-size:.7em;
		}	
	}
}
.lishi{
	width:94%;
	padding:3%;
	margin:dd(10rem) auto 0;
	border-bottom:dd(1rem) solid #f4f4f4;
	.li{
		margin:0 0 dd(15rem) 0;
		font-size:.6rem;
		height:.8rem;
		line-height:.8rem;
		.s{
			font-family:"iconfont";
		}
		.l{
			font-family:"iconfont";
			float:right;
		}
	}
	.shi{
		margin:0 0 0 0.5rem;
		font-size:.6rem;
		height:.8rem;
		line-height:.8rem;
	}
}
.hotsearch{
	width:94%;
	padding:3%;
	margin:dd(10rem) auto 0;
	p{
		font-size:.6rem;
		height:.8rem;
		line-height:.8rem;
		strong{
			font-family:"iconfont";
		}
	}
	div{
		display:flex;
		flex-direction:row;
		justify-content:flex-start;
		align-items: center;
		flex-wrap:wrap;
		align-content:center;
		a{
			text-decoration:none;
			height:.9rem;
			line-height:.9rem;
			font-size:.5rem;
			padding:0 .5rem;
			color:#666;
			border:dd(1rem) solid #aaa;
			border-radius:.3rem;
			margin:.5rem 0 0 .8rem;
		}
		a:nth-child(3){
			color:#ff0036;
		}
		a:nth-child(6){
			color:#ff0036;
		}
		a:nth-child(8){
			color:#ff0036;
		}
	}
}